/* Bagian Navbar */
.aboutUsSection {
    display: flex;
    flex-direction: column;
}
.flexRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 26px auto 20px;
    width: 94.31%;
    max-width: 1358.0568847656px;
    padding: 0 8px 0 0;
}
@media (max-width: 383px) {
    .flexRowContainer {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.flexRowTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 742px;
    min-width: 0;
}
@media (max-width: 991px) {
    .flexRowTop {
        width: auto;
    }
}
@media (max-width: 383px) {
    .flexRowTop {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.companyLogoImg {
    width: 32px;
    height: 52px;
    aspect-ratio: 0.62;
    cursor: pointer;
    -o-object-fit: contain;
    object-fit: contain;
}
.flexRowNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 604px;
    min-width: 0;
}
@media (max-width: 991px) {
    .flexRowNav {
        display: none;
    }
}
.nav-link {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: box-shadow;
    padding: 8px;
}
.nav-link.active,
.nav-link:hover {
    text-align: center;
    justify-content: center;
    color: rgb(30, 30, 30);
    border-radius: 10px;
    padding: 7.5px 18px;
    outline: 2px solid #4e9f3d;
    outline-offset: -2px;
}
/* .aboutText {
  font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
  color: rgb(30, 30, 30);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  padding: 8px;
}
@media (max-width: 991px) {
  .aboutText {
      align-items: flex-start;
      font-size: 16px;
  }
}
.aboutText:hover {
  box-shadow: inset 0 0 0 1.5px #4e9f3d, 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.productText {
  font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
  color: rgb(30, 30, 30);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  padding: 8px;
}
@media (max-width: 991px) {
  .productText {
      align-items: flex-start;
      font-size: 16px;
  }
}
.productText:hover {
  box-shadow: inset 0 0 0 1.5px #4e9f3d, 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
}
.sustainabilityText {
  display: flex;
  justify-content: center;
  min-width: 170px;
  font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
  color: rgb(30, 30, 30);
  text-align: center;
  border-radius: 10px;
  padding: 7.5px 18px;
  outline: 2px solid #4e9f3d;
  outline-offset: -2px;
}
.careerText {
  font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
  color: rgb(30, 30, 30);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  padding: 8px;
}
@media (max-width: 991px) {
  .careerText {
      align-items: flex-start;
      font-size: 16px;
  }
}
.careerText:hover {
  box-shadow: inset 0 0 0 1.5px #4e9f3d, 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
} */
.flexRowBottom {
    display: flex;
    gap: 0 23px;
    width: 432px;
    min-width: 0;
}
@media (max-width: 575px) {
    .flexRowBottom {
        -moz-column-gap: 16px;
        column-gap: 16px;
    }
}
@media (max-width: 479px) {
    .flexRowBottom {
        width: auto;
    }
}
@media (max-width: 383px) {
    .flexRowBottom {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.contentBoxContainer {
    position: relative;
    width: 315px;
    min-width: 0;
    min-height: 33px;
}
@media (max-width: 479px) {
    .contentBoxContainer {
        display: none;
    }
}
.contentBox {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 315px;
    border-radius: 16.5px;
    outline: 1px solid rgb(30, 30, 30);
    outline-offset: -1px;
    transform: translate(-50%, 0);
}
.searchIconImg {
    margin: 0 0 0 auto;
    width: 39px;
    height: 33px;
    aspect-ratio: 1.18;
    -o-object-fit: cover;
    object-fit: cover;
}
.searchText_box {
    position: absolute;
    top: 4px;
    left: 19px;
    width: 76%;
    height: 21px;
    /* opacity: 0.5; */
}
@media (max-width: 991px) {
    .searchText_box {
        align-items: flex-start;
    }
}
.searchText {
    width: 100%;
    font: 400 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: top;
}
@media (max-width: 991px) {
    .searchText {
        font-size: 16px;
    }
}
.searchText:focus {
    outline: none;
}
.additionalImage {
    width: 94px;
    min-width: 0;
    height: 33px;
    -o-object-fit: cover;
    object-fit: cover;
}
