/* Section 1 */
.joinUsSection {
    display: flex;
    flex-direction: column;
}
.flexColumnLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 114px 0;
    margin: 210px auto 30px;
    width: 970px;
    max-width: 85%;
}
@media (max-width: 991px) {
    .flexColumnLayout {
        margin: 150px auto 30px;
    }
}
@media (max-width: 575px) {
    .flexColumnLayout {
        gap: 80px 0;
        margin: 80px auto 30px;
    }
}
@media (max-width: 383px) {
    .flexColumnLayout {
        gap: 50px 0;
        margin: 50px auto 30px;
    }
}
.contentGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.rectangleShape {
    position: absolute;
    bottom: -41px;
    left: -125px;
    width: 291px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 20px;
    outline: 1px solid rgb(78, 159, 61);
    outline-offset: -1px;
    aspect-ratio: 0.93;
}
.heroImage {
    position: relative;
    z-index: 0;
    width: 100%;
    aspect-ratio: 1.83;
    -o-object-fit: cover;
    object-fit: cover;
}
.joinNowTitle {
    position: absolute;
    right: -5px;
    bottom: -1px;
    width: 173px;
    height: 47px;
    font: 700 40px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
}
@media (max-width: 991px) {
    .joinNowTitle {
        align-items: flex-start;
        font-size: 36px;
    }
}
@media (max-width: 479px) {
    .joinNowTitle {
        font-size: 32px;
    }
}
.lookingForTitle {
    position: absolute;
    top: -139px;
    left: 0;
    z-index: 1;
    width: 418px;
    height: 167px;
    font: 700 48px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
}
@media (max-width: 991px) {
    .lookingForTitle {
        align-items: flex-start;
        font-size: 44px;
    }
}
@media (max-width: 479px) {
    .lookingForTitle {
        font-size: 36px;
    }
}
.additionalRectangle {
    position: absolute;
    top: -55px;
    right: -106px;
    z-index: 0;
    width: 291px;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 20px;
    outline: 1px solid rgb(78, 159, 61);
    outline-offset: -1px;
    aspect-ratio: 0.93;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: -290% center;
    object-position: -290% center;
}
@media (max-width: 1399px) {
    .additionalRectangle {
        -o-object-fit: fill;
        object-fit: fill;
    }
}
.flexColumnLayout1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px 0;
    width: 206.9886474609px;
    max-width: 85%;
}
.benefitsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 113px;
    max-width: 100%;
    font: 500 17px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
    background-color: rgb(78, 159, 61);
    border-radius: 5px;
    padding: 5.5px 20px;
}
.whyJoinTitle {
    display: flex;
    justify-content: center;
    font: 400 24px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
@media (max-width: 991px) {
    .whyJoinTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .whyJoinTitle {
        font-size: 20px;
    }
}

/* Section 2 */
.flexRowContainer1 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 35px auto 70px;
    width: 89.51%;
    max-width: 1288.9432373047px;
}
@media (max-width: 991px) {
    .flexRowContainer1 {
        flex-direction: column;
        align-items: center;
        gap: 30px 10px;
    }
}
@media (max-width: 383px) {
    .flexRowContainer1 {
        margin: 35px auto 50px;
    }
}
.contentColumnContainer {
    display: flex;
    flex-direction: column;
    gap: 36px 0;
    margin: 4px 0 0;
    width: 359px;
    min-width: 0;
}
@media (max-width: 991px) {
    .contentColumnContainer {
        margin: 0;
        width: 100%;
        min-width: unset;
    }
}
.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 17px 0;
}
.rowInnerContainer {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}
@media (max-width: 383px) {
    .rowInnerContainer {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.leadingTechnologyTitle {
    font: 400 24px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
}
@media (max-width: 991px) {
    .leadingTechnologyTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .leadingTechnologyTitle {
        font-size: 20px;
    }
}
.leadingTechnologyImage {
    margin: 10px 0 0;
    width: 18px;
    height: 18px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.leadingTechnologyDescription {
    font: 400 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 17px 0;
}
.rowEnvironmentalMission {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}
@media (max-width: 383px) {
    .rowEnvironmentalMission {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.environmentalMissionTitle {
    font: 400 24px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
}
@media (max-width: 991px) {
    .environmentalMissionTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .environmentalMissionTitle {
        font-size: 20px;
    }
}
.environmentalMissionImage {
    margin: 6px 0 4px;
    width: 18px;
    height: 18px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.environmentalMissionDescription {
    font: 400 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.flexColumnContainer {
    display: flex;
    flex-direction: column;
    gap: 54px 0;
    margin: 4px 0 0;
    width: 359px;
    min-width: 0;
}
@media (max-width: 991px) {
    .flexColumnContainer {
        margin: 0;
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 383px) {
    .flexColumnContainer {
        gap: 50px 0;
    }
}
.dynamicWorkEnvColumn {
    display: flex;
    flex-direction: column;
    gap: 17px 0;
}
.rowDynamicWorkEnvironment {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}
@media (max-width: 383px) {
    .rowDynamicWorkEnvironment {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.dynamicWorkEnvTitle {
    font: 400 24px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
}
@media (max-width: 991px) {
    .dynamicWorkEnvTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .dynamicWorkEnvTitle {
        font-size: 20px;
    }
}
.dynamicWorkEnvImage {
    margin: 10px 0 0;
    width: 18px;
    height: 18px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.dynamicWorkEnvDescription {
    font: 400 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.globalOpportunitiesColumn {
    display: flex;
    flex-direction: column;
    gap: 17px 0;
}
.rowGlobalOpportunities {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}
@media (max-width: 383px) {
    .rowGlobalOpportunities {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.globalOpportunitiesTitle {
    font: 400 24px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
}
@media (max-width: 991px) {
    .globalOpportunitiesTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .globalOpportunitiesTitle {
        font-size: 20px;
    }
}
.globalOpportunitiesImage {
    margin: 6px 0 4px;
    width: 18px;
    height: 18px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.globalOpportunitiesDescription {
    font: 400 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.cultureAndCollaborationColumn {
    display: flex;
    flex-direction: column;
    gap: 36px 0;
    margin: 0 0 4px;
    width: 359px;
    min-width: 0;
}
@media (max-width: 991px) {
    .cultureAndCollaborationColumn {
        margin: 0;
        width: 100%;
        min-width: unset;
    }
}
.cultureOfInnovationColumn {
    display: flex;
    flex-direction: column;
    gap: 13px 0;
}
.rowCultureOfInnovation {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}
@media (max-width: 383px) {
    .rowCultureOfInnovation {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.cultureOfInnovationTitle {
    margin: 0 0 4px;
    font: 400 24px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
}
@media (max-width: 991px) {
    .cultureOfInnovationTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .cultureOfInnovationTitle {
        font-size: 20px;
    }
}
.cultureOfInnovationImage {
    margin: 14px 0 0;
    width: 18px;
    height: 18px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.cultureOfInnovationDescription {
    font: 400 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.collaborationAndCommunityColumn {
    display: flex;
    flex-direction: column;
    gap: 17px 0;
}
.rowCollaborationAndCommunity {
    display: flex;
    gap: 0 21px;
}
@media (max-width: 575px) {
    .rowCollaborationAndCommunity {
        -moz-column-gap: 16px;
        column-gap: 16px;
    }
}
@media (max-width: 383px) {
    .rowCollaborationAndCommunity {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.collaborationAndCommunityTitle {
    font: 400 24px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
}
@media (max-width: 991px) {
    .collaborationAndCommunityTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .collaborationAndCommunityTitle {
        font-size: 20px;
    }
}
.collaborationAndCommunityImage {
    margin: 10px 0 0;
    width: 18px;
    height: 18px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.collaborationAndCommunityDescription {
    font: 400 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}

/* Section 3 */
.careerOpportunitiesSection {
    display: flex;
    flex-direction: column;
}
.flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 133px 0;
    margin: 59px auto 38px;
    width: 1008px;
    max-width: 85%;
}
@media (max-width: 575px) {
    .flexContainer {
        gap: 80px 0;
    }
}
@media (max-width: 383px) {
    .flexContainer {
        gap: 50px 0;
        margin: 50px auto 38px;
    }
}
.content-Box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--src) center center/cover no-repeat;
}
.callToActionTitle {
    margin: 574px 9.42% 44px auto;
    width: 102px;
    max-width: 85%;
    font: 400 20px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
    text-align: justify;
    text-decoration: underline;
}
@media (max-width: 991px) {
    .callToActionTitle {
        align-items: flex-start;
        margin: 150px 9.42% 44px auto;
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    .callToActionTitle {
        margin: 80px 9.42% 44px auto;
    }
}
@media (max-width: 479px) {
    .callToActionTitle {
        font-size: 16px;
    }
}
@media (max-width: 383px) {
    .callToActionTitle {
        margin: 50px 9.42% 44px auto;
    }
}
.flexColumnLayout2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px 0;
    width: 220.9431915283px;
    max-width: 85%;
}
.openPositionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 31px 0 30px;
    width: 160px;
    max-width: 100%;
    font: 500 17px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
    background-color: rgb(78, 159, 61);
    border-radius: 5px;
    padding: 5.5px 18px;
}
.joinTeamTitle {
    display: flex;
    justify-content: center;
    font: 400 24px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: center;
}
@media (max-width: 991px) {
    .joinTeamTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .joinTeamTitle {
        font-size: 20px;
    }
}

/* Section 4 */
.flexContainer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 214px 0;
    margin: 39px auto 112px;
    width: 908px;
    max-width: 85%;
}
@media (max-width: 991px) {
    .flexContainer1 {
        gap: 150px 0;
    }
}
@media (max-width: 575px) {
    .flexContainer1 {
        gap: 80px 0;
        margin: 39px auto 80px;
    }
}
@media (max-width: 383px) {
    .flexContainer1 {
        gap: 50px 0;
        margin: 39px auto 50px;
    }
}
.jobCategoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 84px 0;
    width: 100%;
}
@media (max-width: 575px) {
    .jobCategoryContainer {
        gap: 80px 0;
    }
}
@media (max-width: 383px) {
    .jobCategoryContainer {
        gap: 50px 0;
    }
}
.jobCategoryList {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 95.93%;
}
@media (max-width: 575px) {
    .jobCategoryList {
        flex-direction: column;
        align-items: center;
        gap: 30px 10px;
    }
}
.jobTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 4px 0;
    width: 119px;
    min-width: 0;
}
@media (max-width: 575px) {
    .jobTitleContainer {
        width: 100%;
        min-width: unset;
    }
}
.developerJobTitle {
    display: flex;
    justify-content: center;
    font: 500 24px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
    text-align: center;
}
@media (max-width: 991px) {
    .developerJobTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .developerJobTitle {
        font-size: 20px;
    }
}
.dividerLine2 {
    margin: 0 1px;
    width: 98.32%;
    height: 1px;
    min-height: 1px;
    background-color: rgb(78, 159, 61);
}
.marketingJobTitle {
    display: flex;
    justify-content: center;
    margin: 0 0 5px;
    font: 400 24px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgba(30, 30, 30, 0.498);
    text-align: center;
}
@media (max-width: 991px) {
    .marketingJobTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 575px) {
    .marketingJobTitle {
        margin: 0;
        width: 100%;
    }
}
@media (max-width: 479px) {
    .marketingJobTitle {
        font-size: 20px;
    }
}
.designerJobTitle {
    display: flex;
    justify-content: center;
    margin: 0 0 5px;
    font: 400 24px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgba(30, 30, 30, 0.498);
    text-align: center;
}
@media (max-width: 991px) {
    .designerJobTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 575px) {
    .designerJobTitle {
        margin: 0;
        width: 100%;
    }
}
@media (max-width: 479px) {
    .designerJobTitle {
        font-size: 20px;
    }
}
.researcherJobTitle {
    display: flex;
    justify-content: center;
    margin: 0 0 5px;
    font: 400 24px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgba(30, 30, 30, 0.498);
    text-align: center;
}
@media (max-width: 991px) {
    .researcherJobTitle {
        align-items: flex-start;
        font-size: 22px;
    }
}
@media (max-width: 575px) {
    .researcherJobTitle {
        margin: 0;
        width: 100%;
    }
}
@media (max-width: 479px) {
    .researcherJobTitle {
        font-size: 20px;
    }
}
.jobOpeningsContainer {
    display: flex;
    flex-direction: column;
    gap: 35px 0;
    width: 100%;
}
.jobOpeningBlock {
    display: flex;
    flex-direction: column;
    gap: 27px 0;
}
.frontEndDeveloperBlock {
    display: flex;
    flex-direction: column;
    gap: 35px 0;
    width: 722.0341186523px;
    max-width: 85%;
}
.frontEndDeveloperSubtitle {
    display: flex;
    justify-content: center;
    width: 193px;
    max-width: 85%;
    font: 500 20px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
    text-align: center;
}
@media (max-width: 991px) {
    .frontEndDeveloperSubtitle {
        align-items: flex-start;
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .frontEndDeveloperSubtitle {
        font-size: 16px;
    }
}
.frontEndDeveloperDescription_box {
    margin: 0 0 0 2px;
}
@media (max-width: 991px) {
    .frontEndDeveloperDescription_box {
        align-items: flex-start;
    }
}
.frontEndDeveloperDescription {
    font: 500 17px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
@media (max-width: 991px) {
    .frontEndDeveloperDescription {
        font-size: 16px;
    }
}
.frontEndDeveloperDescription_span0 {
    font: 500 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.frontEndDeveloperDescription_span1 {
    font: 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.frontEndDeveloperDescription_span2 {
    font: 500 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.frontEndDeveloperDescription_span3 {
    font: 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.frontEndApplyGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2px;
}
.frontEndApplyButton {
    position: absolute;
    top: -25px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 26px;
    font: 500 15px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
    background-color: rgb(78, 159, 61);
    padding: 3.5px 18px;
    transition-duration: 0.3s;
    transition-property: transform;
}
.frontEndApplyButton:hover {
    transform: scale(0.9);
}
.frontEndImage {
    position: relative;
    width: 100%;
    height: 1px;
    aspect-ratio: 906;
    -o-object-fit: cover;
    object-fit: cover;
}
.backEndDeveloperBlock {
    display: flex;
    flex-direction: column;
    gap: 27px 0;
    margin: 0 0 0 2px;
}
.backEndDeveloperInnerBlock {
    display: flex;
    flex-direction: column;
    gap: 35px 0;
    width: 719.9886474609px;
    max-width: 85%;
}
.backEndDeveloperSubtitle {
    display: flex;
    justify-content: center;
    margin: 0 0 0 1px;
    width: 187px;
    max-width: 85%;
    font: 500 20px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
    text-align: center;
}
@media (max-width: 991px) {
    .backEndDeveloperSubtitle {
        align-items: flex-start;
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .backEndDeveloperSubtitle {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .backEndDeveloperDescription_box {
        align-items: flex-start;
    }
}
.backEndDeveloperDescription {
    font: 500 17px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
@media (max-width: 991px) {
    .backEndDeveloperDescription {
        font-size: 16px;
    }
}
.backEndDeveloperDescription_span0 {
    font: 500 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.backEndDeveloperDescription_span1 {
    font: 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.backEndDeveloperDescription_span2 {
    font: 500 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.backEndDeveloperDescription_span3 {
    font: 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.group {
    position: relative;
    display: flex;
    flex-direction: column;
}
.backEndApplyButton {
    position: absolute;
    top: -25px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 26px;
    font: 500 15px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
    background-color: rgb(78, 159, 61);
    padding: 3.5px 18px;
    transition-duration: 0.3s;
    transition-property: transform;
}
.backEndApplyButton:hover {
    transform: scale(0.9);
}
.backEndImage {
    position: relative;
    width: 100%;
    height: 1px;
    aspect-ratio: 906;
    -o-object-fit: cover;
    object-fit: cover;
}
.ioTDeveloperBlock {
    display: flex;
    flex-direction: column;
    gap: 27px 0;
    margin: 0 0 0 2px;
}
.ioTDeveloperInnerBlock {
    display: flex;
    flex-direction: column;
    gap: 35px 0;
    width: 719.9886474609px;
    max-width: 85%;
}
.ioTDeveloperSubtitle {
    display: flex;
    justify-content: center;
    margin: 0 0 0 1px;
    width: 118px;
    max-width: 85%;
    font: 500 20px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(78, 159, 61);
    text-align: center;
}
@media (max-width: 991px) {
    .ioTDeveloperSubtitle {
        align-items: flex-start;
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .ioTDeveloperSubtitle {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .ioTDeveloperDescription_box {
        align-items: flex-start;
    }
}
.ioTDeveloperDescription {
    font: 500 17px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
@media (max-width: 991px) {
    .ioTDeveloperDescription {
        font-size: 16px;
    }
}
.ioTDeveloperDescription_span0 {
    font: 500 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.ioTDeveloperDescription_span1 {
    font: 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.ioTDeveloperDescription_span2 {
    font: 500 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.ioTDeveloperDescription_span3 {
    font: 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.ioTApplyButton {
    position: absolute;
    top: -25px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 26px;
    font: 500 15px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
    background-color: rgb(78, 159, 61);
    padding: 3.5px 18px;
    transition-duration: 0.3s;
    transition-property: transform;
}
.ioTApplyButton:hover {
    transform: scale(0.9);
}
.ioTImage {
    position: relative;
    width: 100%;
    height: 1px;
    aspect-ratio: 906;
    -o-object-fit: cover;
    object-fit: cover;
}
.revolutionTagline_box {
    display: flex;
    justify-content: center;
}
.revolutionTagline {
    font: 400 16px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
.revolutionTagline_span0 {
    font: 1em/1.17 "Work Sans", Helvetica, Arial, serif;
}
.revolutionTagline_span1 {
    font: 700 1em/1.17 "Work Sans", Helvetica, Arial, serif;
}
